body{
    box-sizing: border-box;
    background-color: rgb(26, 29, 29);
     color: white;
}


.grilla{
    display: grid;

    grid-template-columns:repeat(4,1fr);
}

.grilla_element{
    display:flex;
    justify-content: center;
    align-items: center;
    border: solid 2px brown;
}

.grilla :nth-child(1){
    background-color: lightgray;
    grid-column: 1/-1;
    
}


